{extend name='layoutextend'}
{block name='nav'}

<ul>
	<li href="">首页</li>
	<li href="">关于我们</li>
	<li href="">新闻</li>
	<li href="">联系我们</li>
</ul>

{/block}

{block name='info'}
<ul>
	<li>欢迎欢迎，热烈欢迎</li>
	<li>欢迎欢迎，热烈欢迎</li>
	<li>欢迎欢迎，热烈欢迎</li>
	<li>欢迎欢迎，热烈欢迎</li>
	<li>欢迎欢迎，热烈欢迎</li>
	<li>欢迎欢迎，热烈欢迎</li>
	<li>欢迎欢迎，热烈欢迎</li>
</ul>
{/block}

{block name='link'}
	<a href="http://www.baidu.com">百度</a>
	<a href="http://www.github.com">github</a>
	<a href="http://www.tudou.com">tudou</a>
	<a href="http://v.qq.com">腾讯视频</a>
{/block}